flows.json
[{"id":"a717811d.731cd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"470e4665.1584b8","type":"ui_form","z":"a717811d.731cd","name":"","label":"","group":"69838d55.b57db4","order":1,"width":12,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["d866dd05.38084"]]},{"id":"d866dd05.38084","type":"function","z":"a717811d.731cd","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["9b00cbbc.0f6778","bbefd14e.3718d"]]},{"id":"f312a9dd.3c65b8","type":"function","z":"a717811d.731cd","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["bf62ddfb.a9cbd"]]},{"id":"9b00cbbc.0f6778","type":"watson-conversation-v1","z":"a717811d.731cd","name":"Customer Care Helpdesk","workspaceid":"cdb242d0-b842-4484-bcf8-66c0e294fcc7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/048a6298-ec40-42c7-a0c1-55067c6560b8","timeout":"","optout-learning":false,"x":490,"y":120,"wires":[["1571c345.27315d","f312a9dd.3c65b8"]],"inputLabels":["Hi"],"outputLabels":["Hello there!"]},{"id":"bbefd14e.3718d","type":"ui_text","z":"a717811d.731cd","group":"69838d55.b57db4","order":2,"width":12,"height":2,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":400,"y":340,"wires":[]},{"id":"bf62ddfb.a9cbd","type":"ui_text","z":"a717811d.731cd","group":"69838d55.b57db4","order":3,"width":12,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":710,"y":340,"wires":[]},{"id":"1571c345.27315d","type":"debug","z":"a717811d.731cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":80,"wires":[]},{"id":"69838d55.b57db4","type":"ui_group","z":"","name":"Chatbot","tab":"530f9e10.14e64","order":1,"disp":true,"width":12,"collapse":false},{"id":"530f9e10.14e64","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]